{% extends "base.html" %}

{% block extraheader %}
<style>
div, iframe {
    margin: 0 auto;
    display: block;
    border-style:none;
}

</style>
{% endblock %}

{% block content %}

<h1>Latest papers</h1>


<div class="border">
<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>
</div>

{% endblock %}