{% extends "base.html" %}

{% block extraheader %}
<style>
div, iframe {
    margin: 0 auto;
    display: block;
    border-style:none;
}

.item {
    border-top: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    list-style-type:none;
    margin-left: 3em;
    margin-top: 1em;
}

.badge a{
    color: white;
}

.badge a:hover{
    text-decoration: none;
}

.hovered {
    filter: brightness(120%);
}

.framed {
    border: 1px rgba(0,0,0,.125) solid;
    padding: 20px;
}
</style>

{% endblock %}

{% block content %}

<h1>Accepted papers</h1>

<!-- 
<div class="border">
<a href="#" class="badge badge-info">Primary</a>
<a href="#" class="badge badge-success">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-success">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>
</div> -->

<p class="framed"  style="font-size: 1.2em; margin: 2em">
    <b>Certifications</b><br>
<span id="surveybadge" class="badge badge badge-info" >
    <a href="#" id="surveybutton" data-toggle="tooltip" data-placement="top" title="Papers that provides an exceptionally thorough or insightful survey of the topic." data-trigger="hover">Survey</a> 
</span>

<span id="reproducibilitybadge" class="badge badge badge-success" >
    <a href="#" id="reproducibilitybutton" data-toggle="tooltip" data-placement="top" title="Papers whose primary purpose is reproduction of other published work. Beyond verification, these papers add value through additional baselines, analysis, ablations, or insights." data-trigger="hover">Reproducibility</a> 
</span>
<!-- <span  class="badge badge badge-light" >
    <a href="#" id="clearselection" >clear </a> 
</span> -->
<!-- <a id="clearselection" href="#">&times;</a> -->
</p>

<ul class="list-papers list-group list-group-flush">
    {%for paper in papers %}
    <li class="item{%if paper.certifications|length %}{% for c in paper.certifications %} {{c}} {% endfor %}{% else %} nocertificate {% endif %}">
        <h4><a class="paper-title darkblue" href="{{paper.pdf}}"><b>{{paper.title|safe}}</b></a></h4>
        <p><i>{{paper.authors}}</i>, {{paper.month}} {{paper.year}}  <br>
            [<a href="{{paper.openreview}}">openreview</a>] [<a href="{{paper.pdf}}">pdf</a>] [<a href="/tmlr/papers/bib/{{paper.id}}.bib">bib</a>] {% if paper.code %}[<a href="{{paper.code}}">code</a>]{% endif %}
            {%if paper.certifications|length %} <br> Certifications:  
                {% if paper.survey_certification %} <a href="#" class="badge badge badge-info" data-toggle="tooltip" data-placement="top" title="Paper that provides an exceptionally thorough or insightful survey of the topic." data-trigger="click">Survey</a>
                {% endif %}
                {% if paper.reproducibility_certification %} <a href="#" class="badge badge badge-success" data-toggle="tooltip" data-placement="top" title="Paper whose primary purpose is reproduction of other published work. Beyond verification, this paper add value through additional baselines, analysis, ablations, or insights." data-trigger="click">Reproducibility</a>
                {% endif %}
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ul>

{% endblock %}

{% block js %}
<script type="text/javascript">
    var surveyClicked = false;
    var reproducibilityClicked = false;
    var focus = null;

    $('.badge-info').click( function(){
        if (focus == this) {
            $('.item').show();
            focus = null;
            $('#surveybadge').removeClass("hovered");
        } else {
            $('.item').hide();
            $('.survey').show();
            $('.framed .badge').removeClass("hovered");
            $('#surveybadge').addClass("hovered");
            focus = this;
        }
    });
    $('.badge-success').click( function(){
        if (focus == this) {
            $('.item').show();
            focus = null;
            $('#reproducibilitybadge').removeClass("hovered");
        } else {
            $('.item').hide();
            $('.reproducibility').show();
            $('.framed .badge').removeClass("hovered");
            $('#reproducibilitybadge').addClass("hovered");
            focus = this;
        }
    })

    $("#clearselection").click(function() {
        $('.item').show()
    })

    </script>
<br><br>
{% endblock %}