
{% extends "base.html" %}

{% block content %}
<h1>TMLR News</h1>

<ul>
  <li><i>2025.01.02</i>: We are happy to welcome Nihar Shah to the TMLR Editors-in-Chief, while we bade farewell to Kyunghyun Cho. Sincere gratitude to Kyunghyun for his pivotal role in TMLR!</li>
  <li><i>2024.12.19</i>: <a href="https://medium.com/@TmlrOrg/announcing-the-2024-tmlr-outstanding-certification-65f25d05c37c">The 2024 TMLR Outstanding Certifications</a></li>
  <li><i>2024.11.26</i>: TMLR will pause new submissions over the upcoming holiday period from December 2 2024 to January 6 2025 (midnight AOE on both dates). We will resume accepting new submissions on January 7, 2025. Happy Holidays!</li>
  <li><i>2024.02.16</i>: <a href="https://docs.google.com/document/d/13mknNOEvwkibxxrES-RrvgbWIuXY6u0PpMjnMrvp6h0/">2023 Annual report released</a></li>
  <li><i>2024.01.12</i>: Naila Murray joins the TMLR Editors-in-Chief, replacing outgoing Editor-in-Chief Raia Hadsell. Thanks to Raia for her valuable service!</li>
  <li><i>2023.10.18</i>: <a href="https://reproml.org/blog/announcing_mlrc2023/">TMLR partners with the 2023 Machine Learning Reproducibility Challenge</a>.</li>
  <li><i>2023.10.07</i>: <a href="https://blog.iclr.cc/2023/10/06/authors-of-tmlr-publications-with-featured-and-outstanding-certifications-at-iclr-2024/">ICLR 2024 invites authors of TMLR papers with Featured or Outstanding Certifications to present</a></li>
    <li><i>2023.09.12</i>: <a href="https://openreview.net/group?id=TMLR/Event_Certifications&event=automl.cc/AutoML/2023/Journal_Track">TMLR papers</a> featured at <a href="https://2023.automl.cc/">AutoML 2023</a> Journal Track</li>
    <li><i>2023.08.22</i>: <a href="https://openreview.net/group?id=TMLR/Event_Certifications&event=lifelong-ml.cc/CoLLAs/2023/Journal_Track">TMLR papers</a> featured at <a href="https://lifelong-ml.cc/Conferences/2023">CoLLAs 2023</a> Journal Track</li>
    <li><i>2023.07.10</i>: <a href="https://tmlr.infinite-conf.org/">TMLR Infinite Conference launched</a></li>
    <li><i>2023.07.05</i>: <a href="https://medium.com/@TmlrOrg/announcing-the-first-tmlr-outstanding-certification-3a2838c08cda">"A Generalist Agent" awarded the first Outstanding Certification</a></li>
    <li><i>2023.01.13</i>: <a href="https://docs.google.com/document/d/1tJTw-LUJqENC5yxwmcTqlj4_Va1fWFqv7Lxt3eKMcqE/">2022 Annual Report released</a></li>
    <li><i>2022.03.24</i>: <a href="https://jmlr.org/tmlr/news/2022/launch.html">TMLR is now accepting submissions</a></li>
</ul>
{% endblock %}
