{% extends "base.html" %}

{% block content %}

<h1 class="c1" id="h.9thkl4ire28v"><span class="c11 c12">TMLR guidelines for action editors</span></h1>
<p class="c9"><span>This document provides instructions for </span><span>action editors (AE)</span>. Before
        reading this section, make sure to also read and be familiar with the <a href="editorial-policies.html">Editorial
        Policies</a>, the <a href="reviewer-guide.html">Reviewer
        guidelines</a>, the <a href="ethics.html">Ethics
        Guidelines</a>, and the <a href="code.html">Code of
        Conduct</a>.</p>
<h2 class="c2" id="h.yo76xypxbymj"><span class="c10">Action Editor Responsibilities</span></h2>
<p class="c9"><span class="c4">As an AE, you are responsible for the following aspects of the review process:</span>
</p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span class="bold">Annual Quota</span><span>&nbsp; AE assignments are given on a rolling basis, as
        submissions are received. TMLR will not assign you more than </span><span>12
        submissions</span><span>&nbsp;per year</span><span>&nbsp;(unless you accept the extra load). On the other
        hand, you are generally </span><span class="bold">expected to accept all AE requests</span><span>&nbsp;of
        submissions that fall within your expertise and quota. Acceptable exceptions are 1) situations where
        exceptional personal circumstances (e.g. vacation, health problems) render you incapable of fully performing
        your AE duties or 2) you have a conflict of interest with one of the authors</span><span>.</span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span class="bold">Desk rejection of inappropriate submissions</span><span>&nbsp; The first step
        following an AE assignment is to determine (within 1 week) whether or not the submitted preprint is
        appropriate for TMLR and respects our <a href="editorial-policies.html">submission guidelines</a>. Clear cases of
        desk rejection include submissions that are not anonymized</span><span>,</span><span>&nbsp;submissions that
        do not use the unmodified TMLR stylefile and submissions that clearly </span><span>overlap</span><span
        class="c4">&nbsp;with work already published in proceedings (or currently under review for publication). If
        you suspect but are unsure about whether a submission might need to be desk rejected for any other reasons
        (e.g. lack of fit with the scope of TMLR or lack of technical depth), simply reach out to the Editors in
        Chief. </span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span class="bold">Assignment</span><span class="bold">&nbsp;of reviewers</span><span>&nbsp; Once
        confirmed that a submission is appropriate for TMLR, you should assign it for review to at
</span><span>least 3 reviewers</span><span>. You must make the initial assignment </span><span>within
</span><span>a week of accepting a paper&rsquo;s assignment. TMLR will give you access to a pool of reviewers
        who have already committed to reviewing for TMLR. However make sure to avoid reviewers
</span><span>who</span><span>&nbsp;</span><span>1) have already filled their annual quota or 2) have an
        unsubmitted review</span><sup><a href="#cmnt7" id="cmnt_ref7">[g]</a></sup><span>, unless you&rsquo;ve
        received confirmation from the reviewer that they are willing to take on this additional review. By default,
        reviewers are asked to submit their review within </span><span>2 weeks</span><span>&nbsp;of their
        assignment. </span><span>However, if the submission is longer than 12 pages (excluding any appendix), we
</span><span>ask</span><span>&nbsp;you to permit a longer reviewing time frame.
</span><span>&nbsp;<br></span><span>Some reviewers may proactively </span><span>reach</span><span>&nbsp;out to
        you through </span><span>OpenReview</span><span>&nbsp;and volunteer to review the work</span><span
        class="c4">, and it is up to you to determine whether their review would be valuable for coming to a good
        decision for the submission. Though OpenReview will provide some basic mechanism to disallow undesirable
        conflicts of interests, it is your responsibility to ensure that the volunteer reviewer isn&rsquo;t indeed
        in conflict with the authors of the submission and that they have the appropriate expertise to provide a
        valuable judgement on the submission. You can use the volunteer reviewer&rsquo;s OpenReview profile to guide
        you in this decision. For instance, do not accept a volunteer reviewer with a profile that is incomplete,
        out of date or solely based on an unrecognizable personal email (as opposed to an institutional
        email).</span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span class="bold">Post-review discussion </span><span>&nbsp; Once the third review has been submitted,
        the authors are given a chance to take into account the reviewers&rsquo; feedback, answer any questions they
        may have asked and update their manuscript accordingly. You are responsible for making sure the reviewers
        engage actively in this discussion. You may also participate in the discussion yourself, by asking questions
        directly to the authors or starting a private conversation via <a href="https://openreview.net/">OpenReview</a> involving only the reviewers to try to
        reach a consensus, if possible. Since papers on OpenReview are visible to all, there
        might even be signed comments from non-reviewers that you think are relevant and would like to ask authors
        to react to. Overall, any intervention that will help you come to a decision recommendation for the
        submission is encouraged (as long as it maintains the anonymity of the authors and reviewers). </p>
<p class="c0"><span class="c4"></span></p>
<p class="c9">Our <a href="ethhics.html">Ethics Guidelines</a> describe TMLR&rsquo;s ethical principles and establish common
        ground for editors, reviewers, and authors to evaluate the potential for harm of a proposed
        work.</span><span>&nbsp;</span><span>If you or any of the reviewers have concerns around the ethical
        implications of the submission, check whether the authors address the concerns in the (otherwise optional)
        Broader Impact Statement section of their preprint. In a situation where you would like an additional
        reviewer with ethics expertise, or if you suspect that no statement would make the work ethically
        acceptable, reach out to the Editors-in-Chief. </span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span class="c4">Based on their discussion with the authors, reviewers will submit their own
        recommendation to you on a decision for a submission no sooner than 2 weeks and no later than 4 weeks after
        the submission of the third review. </span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span class="bold">Decision and certification </span><span>&nbsp; Once all 3 reviewer decision
        recommendations have been submitted, y</span><span>ou should aim</span><span class="c4">&nbsp;to submit your
        decision proposal within 1 week. Your decision proposal should therefore be submitted within 5 weeks of the
        beginning of the discussion between authors and reviewers. If, and only if, authors and reviewers are still
        discussing the submission, you may decide to take more time.</span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span>There are 3 possible outcomes: Accept, Accept with minor revision and Reject (see
<a href="editorial-policies.html">Editorial Policies</a>). As described
        in the <a href="reviewer-guide.html">Reviewer guidelines</a>, acceptance decisions should be made based on two criteria:</span></p>
<p class="c0"><span class="c3 c7"></span></p>
<p class="c9"><span class="c3">Are the claims made in the submission supported by accurate, convincing and clear
        evidence?</span></p>
<p class="c9"><span class="c3">Would at least some individuals in TMLR&#39;s audience be interested in the findings
        of this paper?</span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span>In addition to a decision, for accepted papers, you may also recommend a
</span><span>certification</span> if
        you think the paper deserves to stand out with one such additional recognition.</span></p>
<p class="c0"><span class="c4"></span></p>
<p class="c9"><span class="bold">Final verification of camera ready submission</span><span>&nbsp; &nbsp;As your final
        task for an accepted paper, you are asked to quickly verify that the camera ready manuscript complies with
        <a href="https://github.com/JmlrOrg/tmlr-style-file">TMLR stylefile</a>, with all author information inserted in the manuscript as well as the link to the OpenReview
        page for the submission.</span></p>


{% endblock %}
