{% extends "base.html" %}


{% block extraheader %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
   
   $('#innercontent').load("/manudb/editorial_board?list=action");

});
</script>

<style>
    .editors li {
        margin-bottom: 20px;
    }
    .editors .name {
        font-weight: bold;
    }
    .editors a {
        text-decoration: none;
    }
    .editors .research {
        display: block;
        font-size: 88%;
        color: #555;
        max-width: 500px;
    }
    #board a {
      font-weight: bold;
    }
    #board li{
      list-style-type: none;
      margin-left: 2em;
      margin-bottom: 0.5em;
    }
    </style>
{% endblock %}

{% block content %}
<h1>TMLR Expert Reviewers 2024</h1>

  <h2>2024</h2>

  <ul class="editors">{% for e in expert_reviewers_2024 %}
    <li><a class="name" href="{{ e.url }}">{{ e.name }}</a>, <span class='affiliation'>{{ e.affiliation }}</span>. <span class="research">{{e.research}}</span>
      <span class="research">[<a href="https://openreview.net/profile?id={{e.id}}">OpenReview</a>] {% if e.gscholar %} [<a href="{{e.gscholar}}">Google Scholar</a>]{% endif %}</span>
    {% endfor %}
  </ul>
  <br><br>


  <h2>2023</h2>

  <ul class="editors">{% for e in expert_reviewers_2023 %}
    <li><a class="name" href="{{ e.url }}">{{ e.name }}</a>, <span class='affiliation'>{{ e.affiliation }}</span>. <span class="research">{{e.research}}</span>
      <span class="research">[<a href="https://openreview.net/profile?id={{e.id}}">OpenReview</a>] {% if e.gscholar %} [<a href="{{e.gscholar}}">Google Scholar</a>]{% endif %}</span>
    {% endfor %}
  </ul>
  <br><br>

{% endblock %}
