{% extends "base.html" %}

{% block content %}



<h1 id="faq"><span>Frequently Asked Questions</span></h1>

<h2>General</h2>
<p><span class="italic">Q: I think TMLR is great, and I'd like to be involved! How can I sign up to be a reviewer (or
        Action Editor)?
</p>
<p>
    A: Great! We have filled our reviewer and AE pools for now, but you can volunteer to review any submission via
    OpenReview (a "Volunteer to Review" button should be visible if you are logged in). You can also ask a current Action
    Editor that can vouch for your qualifications to add you as a reviewer. If you would like to be an Action Editor and
    believe that you are qualified through your academic credentials as a professor or through your experience (e.g. as
    an Area Chair or Editor), please contact the Editors-in-Chief.
</p>
<p><span class="italic">Q: Will there be multiple back-and-forth rounds between reviewers and authors, as in some
        journals, or just one round as with most conferences?
</p>
<p><span>A: There is one discussion phase, but during that phase there can be as much (and as frequent) back
        and forth, including revisions to the manuscript, as the authors and reviewers need. The discussion phase will
        be at least 2 weeks and up to 4 weeks long.
</p>
<p><span class="italic">Q: How are reviewers assigned? Will it be entirely up to the action editors, or will there be a
        bidding process?
</p>
<p><span>A: Assignments will largely be up to action editors. However, because submissions are shown publicly
        on OpenReview, a user who is not in conflict with the submission may request to be a reviewer (and it will be up
        to the action editor to accept the request).
</p>
<p><span class="italic">Q: How does the double blind policy work? Would papers already on arXiv be allowed? How about
        papers that are visible on authors' websites, etc.?
</p>
<p><span>A: You can still submit, even if a preprint of your work already is available online somewhere (as
        long as it's not in official proceedings for some other publishing venue). We follow the same approach as double
        blind conferences, asking that reviewers don't actively search online to figure out who the authors are.
</p>
<p><span class="italic">Q: Will other artifacts of a paper be available, such as software, data, talk recordings or
        videos, slides, public discussions?
</p>
<p><span>A: Code and videos may be uploaded and associated with camera ready papers. This may expand over
        time.
</p>
<p><span class="italic">Q: Are you using Toronto paper matching in the review system?
</p>
<p><span>A: OpenReview has its own paper matching system to rank similarity of reviewers and papers, and we
        will be leveraging it.
</p>
<p><span class="italic">Q: Will accepted TMLR papers have the opportunity to be presented in ML conferences like
        NeurIPS, ICML, and ICLR?
</p>
<p><span>A: We hope that TMLR will eventually partner with workshops and conferences (see <a
            href="https://medium.com/@hugo_larochelle_65309/announcing-the-transactions-on-machine-learning-research-3ea6101c936f">blog
            post</a>).
        We don't have such agreements with these conferences, but we'd like to down the road.
</p>
<p><span class="italic">Q: Will non-anonymous OpenReview users be able to comment on the paper during the review
        process?
</p>
<p>
    A: Yes.
</p>
<p>
    <span class="italic">Q: Can I request to anonymously review a submission?
</p>
<p>
    A: Yes. For this, log in to OpenReview, visit the page of the submission and click on button "Volunteer to Review".
    The AE in charge of the submission will receive a notification asking them to accept or deny your request.
</p>
<p><span class="italic">Q: Does TMLR have a preference for methodological/theoretical work or will application papers be
        welcome?
</p>
<p>
    A: TMLR does not have a preference. As long as the paper is within scope and we have an action editor who is
    qualified to handle a submission, we should be open to receiving it.
</p>
<p><span class="italic">Q: Does TMLR accept survey papers?
</p>
<p>
    A: Yes. Authors should make sure to emphasize the contributions made by the survey.
    Ideally, we want survey papers that draw new, previously unreported connections between several pieces of work in an
    area,
    and/or that clearly highlight trends in the area and/or suggest currently open problems. It should also be noted
    that if a submission
    has more than 12 pages of main content, then TMLR's normal short review timeline will not be enforced.
</p>
<p><span class="italic">Q: How are submissions stored?</p>
<p>
A: All submitted papers, including those accepted, rejected, withdrawn, or retracted, are made publicly accessible on OpenReview.  An exception is made for desk-rejected papers, which are never made public. OpenReview intends to archive all submissions by keeping them publicly accessible indefinitely.</p>
<p><span class="italic">Q: How often is TMLR published?</p>
<p>
A: TMLR is a continuous publication, and every paper is immediately published upon completion of the review process, including submission of the camera-ready version of the paper and its verification by the assigned action editor.
</p>
<p><span class="italic">Q: Does TMLR have a <a
            href="https://en.wikipedia.org/wiki/International_Standard_Serial_Number">ISSN code</a>?
</p>
<p>
    A: Yes, it is 2835-8856.
</p>
<p><span class="italic">Q: Are authors and/or reviewers allowed to use LLMs when writing submissions and/or reviews?</p>
<p>
A: See <a href="https://jmlr.org/tmlr/editorial-policies.html">submission guidelines</a> for the policy pertaining to authors' use of LLMs, and see <a href="https://jmlr.org/tmlr/reviewer-guide.html">reviewer guidelines</a> for reviewers. 
</p>

<h2>Authors</h2>

<p><span class="italic">Q: Can I use ChatGPT or other large language model systems to assist in writing my TMLR submission?</span>

<p>
    A: Yes, but TMLR also considers that it is the authors' responsibility to avoid any unforeseen consequences that might come about from using such tools, such as the later discovery that a significant part of the submission's content has been plagiarized (in which case we'd have to reject the paper). Similarly, our expectation is that the ideas, claims and results found in submissions are human-sourced, not produced by such tools.
    <br>Additionally, transparency is always good, so we also require that authors mention explicitly in their submission that they have used this tool, as a footnote on the first page.
</p>

<p><span class="italic">Q: When are authors expected to submit responses to reviews?</span>

<p>
    A: We strongly recommend that authors submit responses, including any revisions, no later than 2 weeks after the
    submission of the 3rd review.
</p>


<p>
    <span class="italic">Q: Can authors submit more than one revision during the discussion period?
    </span>
</p>

<p>
    A: Yes. It is also recommended to leave a comment on the OpenReview page, visible to reviewers and the AE, to alert
    them to the revision.
</p>


<p>
        Q: Is it possible to make changes to the camera ready version of an accepted paper?
</p>

<p>
        A: In general, camera ready versions of papers are considered to be final, and changes are not allowed. In exceptional cases, post-publication modifications may be considered at the discretion of the Editors-in-Chief. To request a change, send an email to tmlr-editors@jmlr.org.
</p>


<p>
        Q: The decision for my submission is “Accept with minor revision”. How should I submit that revision for
        consideration by the Action Editor?
</p>

<p>
        A: The required revisions should be made in the camera ready submission. After you submit the revised camera
        ready version, the Action Editor will review it and determine whether the appropriate minor revisions were made.
</p>

<p>
    <span class="italic">Q: Who sees the author's names on a submitted paper? </span>
</p>
<p>
    TMLR adopts a double-blind reviewing system. On papers that are submitted but not yet accepted for publication, the author names are hidden Only the action editor assigned to that paper and the editors-in-chief can see the author's.
</p>



<p><span class="italic">Q: How is TMLR different from other machine learning journals such as JMLR?</span>
</p>
<p>A: TMLR provides a similar experience to submitting to a conference &ndash;
    double-blind, open access reviews, fast turnaround, and novel, unpublished content &ndash; but with a
    rolling, year-round review process and evaluation criteria that focuses on technical correctness of claims
    rather than more subjective, editorial measures. Consider submitting shorter manuscripts to TMLR, and
    submitting extended works which incorporate previously published material to JMLR.</p>
<p class="c3 c5"><span></span></p>
<p><span class="italic">Q: How long will it take to review my manuscript?</span></p>
<p><span>A: TMLR does not make any guarantees, and manuscripts whose main body exceeds 12 pages are
        subject to longer timescales, but in general the rolling review process aims to deliver a final decision
        approximately 9 weeks after submission.</span></p>
<p><span class="italic">Q: Are replications of previous research welcome?
</p>
<p><span>A: Yes.
</p>
<p><span class="italic">Q: Can I include the appendix in the main pdf so that hyperlinks are preserved, or should it go
        in the supplementary zip file?
</p>
<p><span>A: Appendices can be included in the main pdf. The supplementary zip file should contain additional
        material such as videos or code.
</p>
<p><span class="italic">Q: Can I use the TMLR style and template if I upload my paper to arXiv?
</p>
<p><span>A: We don't have a policy proscribing the use of our template on arXiv. However, make sure to use
        the "preprint" option of the stylefile if you do.
</p>

<p><span class="italic">Q: Upon resubmission of a paper I need to specify the differences with the previous version. Won't this violate the anonymization of my latest submission?
</p>
<p><span>A: Only the action editor (not the reviewers) will see the previous submission URL, so including it will not violate our guidelines.
</p>

<p><span class="italic">Q: Why didn't Google Scholar index my paper? 
</p>
<p><span>A: We aren't able to tell you. Google Scholar is unfortunately unreliable and a black box to us. While it often picks up published TMLR papers, it sometimes does not, and there is no effective way to request for them to include a particular paper. Fortunately, it is possible to edit or add entries to your own Google Scholar profile, and it is usually able to pick up papers posted to arXiv, so consider posting your paper to arXiv, waiting for it to be indexed, and then edit the details to reflect your paper's publication in TMLR.
</p>

<p><span class="italic">Q: Can I submit a paper based on my bachelor's/master's/PhD thesis? 
</p>
<p><span>A: Yes, we have no policy that precludes submission of thesis work; for our purposes, a thesis is considered similarly to a pre-print, e.g., on arXiv. Note that your TMLR submission should be written according to the style and customs of machine learning research papers published in TMLR, which may differ from the style of writing in a thesis. Furthermore, institutions may have their own policies surrounding publication of thesis work, be sure to familiarize yourself with any such policies.</p> 


<h2><span>Reviewers</h2>


<p><span class="italic">Q: Is it possible to see the changes made between revisions of a submission?
</p>
<p><span>A: Yes. If you click “Show Revisions”, you are directed to a page showing the list of “Revision History”. If we want to compare two versions from the revision history, click “Compare Revisions” button on the top right corner of this page. See <a href="https://kyunghyuncho.me/tmlr-how-to-check-the-difference-between-revisions/">here</a> for more details.
</p>
    
<p><span class="italic">Q: How long will reviewers have to complete their review?
</p>
<p><span>A: We ask for reviews to be submitted within 2 weeks for submissions of up to 12 pages (main
        content, before references). For submissions over 12 pages, we ask for reviews to be submitted within 4 weeks.
        While the timeframe will be tight, we're trying to compensate by ensuring a low workload at any given time (no
        more than 1 paper per reviewer).
</p>
<p class="italic">Q: How can I avoid receiving assignments during a certain period?</p>
<p>
    A: If you enter a period of unavailability to receive any new assignments (e.g. you are on vacation or on work
    leave), you may now enter that information explicitly in OpenReview. To do so, simply go to your reviewer console at
    <a href="https://openreview.net/group?id=TMLR/Reviewers">https://openreview.net/group?id=TMLR/Reviewers</a> and,
    next to <b>Assignment Availability</b>, select <q>Unavailable</q>.
</p>
<p>
    Please don't forget to change that back to “Available” as soon as you are back to being able to receive assignments.
</p>
<p class="italic" id="reviewer-quota">
    Q: Can I adjust my annual quota of assignments?
</p>
<p>
    Yes, you can adjust your annual quota of assignments higher or lower than the default quota (6 assignments per year)
    through the openreview console. To do so, simply go to your reviewer console at <a
        href="https://openreview.net/group?id=TMLR/Reviewers">https://openreview.net/group?id=TMLR/Reviewers</a> and,
    next to <b>Custom Max Paper</b>, select the number you wish for your quota.
</p>
<p><span class="italic">Q: When submitting my review, the form isn't asking for a decision recommendation or a score. Is
        that normal?
</p>
<p><span>A: Yes. Initially, we don't ask for a formal recommendation from you, so you can keep your mind open
        during the discussion period with the authors. However, two weeks after the 3rd review for a submission has been
        submitted, you will be asked to separately submit to the Action Editor an official recommendation for a decision
        on the submission.
</p>
<p><span class="italic">Q: What if I have seen the paper at a workshop, on arXiv, on Twitter, etc, and I know
        who the authors are?</span></p>
<p><span>A: You should not try to de-anonymize any submission by actively searching for it.
        However, you may come across it by chance. If this happens, and you believe that it will influence your
        judgment, please contact the action editor, who will help decide whether you should be replaced with a new
        reviewer.</span></p>
<p><span class="italic">Q: The submission has an appendix and supplementary material. Am I obligated to consult
        it?</span></p>
<p><span>A: Much like for reviewing at conferences, consulting appendices and supplementary material is left
        to the discretion of the reviewer.
    </span></p>
<p><span class="italic">Q: Can I discuss the paper privately with the other reviewers and/or the Action Editor?</span>
</p>
<p>A: Yes, but only once all 3 reviewers have posted their review. Simply post a comment that is only
        visible to them to start the discussion.
    </p>
<p><span class="italic">Q: How can I influence what type of papers I'll be asked to review?
</p>
<p>A: Go in your openreview account profile and click on Edit (https://openreview.net/profile/edit) and
        then if you scroll down you'll see your imported publications. You can remove those that you don't want to
        influence which papers are assigned to you.
</p>



<h2>Action Editors</h2>

<p class="italic">
    Q: When are reviews visible to other reviewers and the public?
</p>
<p>
    A: Reviews become visible to other reviewers and the public as soon as 3 reviews have been submitted. For authors, there is an exception to this rule: authors see each review as soon as it is submitted, so they can start to address them immediately.
</p>
<p class="italic">
    Q: If the authors of a submission want more time than the standard 2-week period to submit a response to reviews or a revised submission, can I give them an extension?
</p>
<p>
    A: Generally, authors should not expect an extension to be granted. However, if the reviewers and yourself are in agreement that an extension is warranted, you may informally provide them with more time.
</p>
<p class="italic">
    Q: I would like to move to the final review process phase for a submission (rating reviews and submitting a decision), but some of the reviewers are late on submitting their official recommendation. What should I do?
</p>

<p>
    A: First, email directly the reviewers to remind them that they must submit their official recommendation. If after some time you still don't hear from them, but you feel that you can still make an informed decision on the submission, you can email the Editors-in-Chief (tmlr-editors@jmlr.org) to move forward without all official recommendations.
</p>
<p class="italic">
        Q: A reviewer I have assigned is significantly late/unresponsive. Is there a way to report their inappropriate behavior?
</p>

<p>
        A: Yes. In the AE console, there is a link “Reviewers Report” at the top, leading to a section where you can submit a report. The report will only be visible by you and the Editors-in-Chief.
</p>


<p class="italic">
        Q: Is it possible to see the changes made between revisions of a submission?
</p>

<p>
        A: Yes. If you click “Show Revisions”, you are directed to a page showing the list of “Revision History”. If we want to compare two versions from the revision history, click “Compare Revisions” button on the top right corner of this page. See <a href="https://kyunghyuncho.me/tmlr-how-to-check-the-difference-between-revisions/">here</a> for more details.
</p>

<p class="italic" id="ae-quota">
    Q: Can I adjust my annual quota of assignments?
</p>
<p>
    A: Yes, you can adjust your annual quota of assignments higher or lower than the default quota (12 assignments per
    year) through the openreview console. To do so, simply go to your AE console at <a
        href="https://openreview.net/group?id=TMLR/Action_Editors">https://openreview.net/group?id=TMLR/Action_Editors</a>
    and, next to <b>Custom Max Paper</b>, select the number you wish for your quota.
</p>
<p class="italic">Q: How can I avoid receiving assignments during a certain period?</p>
<p>
    A: If you enter a period of unavailability to receive any new assignments (e.g. you are on vacation or on work
    leave), you may now enter that information explicitly in OpenReview. To do so, simply go to your AE console at
    <a href="https://openreview.net/group?id=TMLR/Action_Editors">https://openreview.net/group?id=TMLR/Action_Editors</a> and,
    next to <b>Assignment Availability</b>, select <q>Unavailable</q>.
</p>
<p>
    Please don't forget to change that back to “Available” as soon as you are back to being able to receive assignments. Your status will automatically be switched back to "Available" after two months.
</p>
<p><span class="italic">Q: Can I invite someone to join TMLR's pool of reviewers?</span></p>
<p><span>A: Yes, this can be done through the AE Console on OpenReview, by clicking on link "Recruit
        Reviewer"
        and then on button "Reviewer Recruitment by AE".</span></p>
<p><span class="italic">Q: Can I invite someone to review a specific submission I'm in charge of,
        without them joining TMLR's general pool of reviewers?</span></p>
<p><span>A: Yes. There are two ways to do this. One is to simply ask that person to visit the submission's OpenReview page, where they can request to
        review the submission by clicking on button "Volunteer to Review". You'll then receive a notification asking you to
        accept
        their request. Once you do, they will become an official reviewer for that submission.<br><br>
        The other approach is to search for the person's name on the submission's reviewer assignment page and, if you don't find them, 
        to use the dedicated text box below (which appears when no reviewer with a searched name is found) to enter that person's email 
        and send them an invitation. Assuming the candidate reviewer doesn't have a 
        conflict with the authors of the submission, then they'll be able to accept the assignment, while not joining the regular pool 
        of TMLR reviewers.</span></p>
<p><span class="italic">Q: I'm in charge of a resubmission that I previously rejected, with encouragement to resubmit. I'd like to assign the same reviewers I used in the first round of reviews. Can I do that?</span></p>
<p><span>A: Yes. If the reviewers in question are currently available (e.g. they don't have a pending review for another submission), 
            go ahead and assign them as you would normally. However, if the reviewers aren't available, consider reaching out by
            email directly to them, asking them if they could still take on the review assignment. If they agree, then ask 
            them to click on the "Volunteer to Review" button on the OpenReview page of the submission. </span></p>
<p><span class="italic">Q: I am concerned that a submission, which is otherwise acceptable, violates the TMLR
        ethical guidelines; how should I handle this?</span></p>
<p><span>A: Consider whether the submission would be acceptable if the authors added or
        improved a broader impact statement, and if so, this can be required for the camera-ready version. If the
        submission carries significant risk of harm, contact the Editors-in-Chief.</span></p>
<p><span class="italic">Q: Three reviewers have now submitted their official recommendations. I want to submit my
        decision, but I don't
        seem able to do it on OpenReview. What should I do?</span></p>
<p>A: Before you can submit your decision, you must rate the quality of the reviews submitted by the
        reviewers, on OpenReview.
        Once you have submitted these ratings, the submission of your decision will be enabled on OpenReview.</p>
<p><span class="italic">Q: I tried adding reviewers to the paper, but I get the error <code
            style="color: black">Error: Can not add assignment, invitation is not active yet.</code></span></p>
<p>A: After the action editor submits the review approval, there is a small delay of time during which
        affinity scores between the paper and reviewers are computed and before which they can start assigning
        reviewers. Once the computation is done, you will receive a confirmation email announcing that you can now start
        assigning reviewers.</p>

{% endblock %}
