{% extends "base.html" %}

{% block content %}
<h1>TMLR Submission Instructions</h1>

<p>
    Before submitting to TMLR, please carefully read the <a href="editorial-policies.html">Submission guidelines and editorial policies page</a> page which explains TMLR’s scope, criteria, and review process, the <a href="author-guide.html">Author Guidelines</a>, and also the <a href="code.html">Code of Conduct</a> and <a href="ethics.html">Ethical Guidelines</a>. The Author Guidelines page contains a LaTeX stylefile and template; these are mandatory. Any changes to the stylefile or template that alters the formatting, font, or layout of the manuscript may result in rejection without review.
</p>

<p>
    Once your manuscript is correctly formatted and you have read the TMLR requirements, especially regarding the policy on dual submissions and self-plagiarism, and the ethical guidelines which may require a broader impact statement, proceed to the OpenReview TMLR site to begin the submission process.
</p>

<p>
    You will receive an email once your submission has been assigned to an action editor; this will mark the beginning of the review process.
</p>

{% endblock %}
