{% extends "base.html" %}

{% block content %}
<h1>TMLR Submission Instructions</h1>

<p>
    We are using the reviewing and publication system of OpenReview for openness and transparency: 
    <a href="https://openreview.net/group?id=TMLR">https://openreview.net/group?id=TMLR</a>
</p>
<p>
    Before submitting to TMLR, please carefully read the <a href="editorial-policies.html">Submission guidelines and editorial policies page</a> page which explains TMLR’s scope, criteria, and review process, the <a href="author-guide.html">Author Guidelines</a>, and also the <a href="code.html">Code of Conduct</a> and <a href="ethics.html">Ethical Guidelines</a>. The Author Guidelines page contains a LaTeX stylefile and template; these are mandatory. Any changes to the stylefile or template that alters the formatting, font, or layout of the manuscript may result in rejection without review.
</p>

<p>
    Once your manuscript is correctly formatted and you have read the TMLR requirements, especially regarding the policy on dual submissions and self-plagiarism, and the ethical guidelines which may require a broader impact statement, proceed to the OpenReview TMLR site to begin the submission process.
</p>

<p>
    You will receive an email once your submission has been made, asking you to recommend 
    potential <a href="https://jmlr.org/tmlr/editorial-board.html">Action Editors</a> that would be appropriate for your submission.
</p>

{% endblock %}
